<launch>

    <arg name="gui" default="true" />
    <arg name="load_gripper" default="true" />
    <arg name="robot_description" default="robot_description" />
    <arg name="rvizconfig" default="$(find panda_temp_sim_2403)/rviz/demo.rviz" />

    <param name="$(arg robot_description)" command="$(find xacro)/xacro $(find franka_description)/robots/panda/panda.urdf.xacro hand:=$(arg load_gripper)" />
    
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
        <rosparam param="/source_list">[cmd/joint_position]</rosparam>
    </node>
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <rosparam param="/source_list">[cmd/joint_position]</rosparam>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


    <!-- EXTRA NODES -->
    <node name="temp_sensor_sim" pkg="panda_temp_sim_2403" type="temp_sensor_sim" required="true" output="screen" />

</launch>